@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Josefin+Sans:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mid, .mid2 {
    height: 25em;
    width: 20em;
    background-color: orchid;
    margin: auto;
    margin-top: 2em;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}

.bg_img {
    height: 10em;
    width: 10em;
    border-radius: 50%;
    background-image: url('https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F1171084320%2F0x0.jpg');
    background-size: cover;
    margin: auto;
    margin-top: -5em;
}

.mid:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}


.mid2{
    background-color: dodgerblue;
    position: relative;
}

.mid2 > .image {
    height: 10em;
    width: 10em;
    background-image:url('https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2VvfGVufDB8fDB8fA%3D%3D&w=1000&q=80');
    background-size: cover;
    position: absolute;
    top: 18em;
    left: 5em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.mid2:hover {
    transform: scale(1.2) rotate(360deg);
    -webkit-transform: scale(1.2) rotate(360deg);
    -moz-transform: scale(1.2) rotate(360deg);
    -ms-transform: scale(1.2) rotate(360deg);
    -o-transform: scale(1.2) rotate(360deg);
    background-color: aquamarine;
}

